

.description-container {
    position: relative;
    padding-top: 387px;
    padding-bottom: 182px;
}

.description__blocks {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: -107px;
    left: 0;
    width: 1110px;
}

.description__block {
    width: 349px;
    height: 328px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
}


.subhead{
    display: inline-block;
    font-family: 'Tinos';
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #2C2C2C;
}

.description-box__subhead{
    position: relative;
    display: inline-block;
    width: 260px;
    margin-top: 140px;
    margin-bottom: 20px;
}

.description-box__subhead::before{
    content: "";
    position: absolute;
    top: -87px;
    left: 87px;
    width: 87px;
    height: 87px;
    background-image: url('../resources/icon-description.png');
}

.description__block-subhead{
    color: #BC9060;
}

.description__block p{
    font-family: 'Tinos';
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #656363;
}

.description__info{
    width: 444px;
}

.description-box__subtitle{
    display: flex;
    justify-content: space-between;
    width: 338px;
    margin-left: 12%;   
}

.subtitle{
    display: inline-block;
    font-family: 'Tinos';
    font-weight: 400;
    font-size: 54px;
    line-height: 62px;
    color: #000000;
}

.description__subtitle{
    margin-bottom: 21px;
    color: #D67E34;
}

.description__info-text{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 79px;
    color: #656363;
}

.description__denominations{
    display: flex;
    justify-content: space-between;
    width: 318px;
    margin: 0 auto;
}


.description__name{
    width: 84px;
}

.description__name-number{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: #BC9060; 
}

.description__name-txt{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    margin-top: 2px;
    color: #000000;  
}

.description__image-fone {
    position: absolute;
    top: 405px;
    right: 42px;
}

.description__image-cake {
    position: absolute;
    top: 372px;
    right: 94px;
}

.description__image-food {
    position: absolute;
    top: 436px;
    right: 255px;
}

.description__image-iterior {
    position: absolute;
    top: 569px;
    right: 0;
}




@media (max-width: 1199px) {

    .description-container {
        padding-top: 630px;
        padding-bottom: 182px;
    }

    .description__blocks {
        flex-wrap: wrap;
        padding: 0 15px;
        width: 100%;
        row-gap: 14px;
        column-gap: 14px;
    }

    .description__block {
        width: 49%;  
    }

    .description__block:last-child{
        width: 100%;  
    }

    .description__image-fone {
        position: absolute;
        top: 648px;
        right: 57px;
    }
    
    .description__image-cake {
        position: absolute;
        top: 615px;
        right: 109px;
    }
    
    .description__image-food {
        position: absolute;
        top: 645px;
        right: 270px;
    }
    
    .description__image-iterior {
        position: absolute;
        top: 811px;
        right: 15px;
    }
        
         
    

}



@media (max-width: 1030px){

    .description__info{
        margin: 0 auto;
    }

    .description__denominations{
        display: flex;
        justify-content: space-between;
        width: 318px;
        margin-bottom: 90px;
    }

    .description__images {
        position: relative;
        max-width: 540px;
        height: 497px;
        margin: 0 auto;
    }

    .description__image-fone {
        position: absolute;
        top: 32px;
        right: 42px;
    }
    
    .description__image-cake {
        position: absolute;
        top: 0;
        right: 94px;
    }
    
    .description__image-food {
        position: absolute;
        top: 30px;
        right: 255px;
    }
    
    .description__image-iterior {
        position: absolute;
        top: 196px;
        right: 0;
    }

}



@media (max-width: 767px) {

    .description-container {
        padding-top: 1000px;
        padding-bottom: 182px;
    }

    .description__block {
        width: 100%;  
    }

    

}




@media (max-width: 600px){

    .description__images {
        max-width: 290px;
        height: 257px; 
    }

    .description__image-fone {
        position: absolute;
        top: 17px;
        right: 21px;
    }
    
    .description__image-cake {
        position: absolute;
        top: 0;
        right: 50px;
    }
    
    .description__image-food {
        position: absolute;
        top: 7px;
        right: 110px;
    }
    
    .description__image-iterior {
        position: absolute;
        top: 102px;
        right: 0;
    }

}


@media (max-width: 500px){

    .description-box__subtitle{
        display: block;
        text-align: center;
        width: 300px;
        height: 92px;
        margin-left: 0;
        margin: 0 auto 48px;   
    }

    .subtitle{
        font-size: 40px;
        line-height: 46px;
        text-align: center;
    }

    .description__subtitle{
        width: 300px;
        margin-bottom: 0;
    }

    .description__info{
        width: 100%;
    }

    .description__denominations{
        display: block;
        margin: 0 auto;
        width: 84px;
        margin-bottom: 45px;
    }

    .description__name{
    margin-bottom: 21px;
    }

}

